.App {
  width:100vw;
  height: 100vh;
}

body{
  margin:0;
  padding:0
}

.sidebar{
  width: 250px;
  height: 95%;
  padding-top: 0;
  background-color: #333;
  position: fixed;

}
.sidebarlist{
  width: 100%;
  height: 100%;
  padding: 0;
}
.sidebarlist .row {
  list-style-type: none;
  width: 100%;
  height: 50px;
  margin:0%;
  display: flex;
  flex-direction: row;
  color:#8aa4af;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebarlist .row:hover{
  background-color:black;
}


.row #icon{
  flex:30%;
  display: grid;
  place-items: center;
}

.row #title{
  flex:50%;
}
.row #pull{
  flex:20%;
  place-items: center;
}

.color-nav{
  background-color: #3c8dbc;
}
.name{
  padding-left: 50px;
}
.headerIcons{
  color: white;
  padding:0;
  
}
.headerIcons .iconInHeader{
  /* padding-left:5px;
  padding-right:5px; */
  margin-left:20px;
  margin-right:20px;
  margin-top: 4px;
  size: 18px;
  justify-content: center;
  align-items: center;

}
.mr-auto{
  color: white;
}
.mr-auto .menubarIcon{
  margin-left:90px;

}

.userImg{
  width: 25px;
  height: 25px;
  /* margin-left:20px;
  margin-right:20px; */

}
.username{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 12px;
  font-weight: white;
  
}
.impicon{
  color: red;
}
.warnicon{
  color: yellow;
}
.infoicon{
  color: blue;
}
.dashboard{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-top: 100px;
  /* padding: 0; */
}
.ipInCard{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 200px;
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  /* transition: 0.3s; */
  border-radius: 30px;
}
.dashboard .ipInCard .ipfield{
  color: green;
  float: left;
  /* margin: 3px; */

  /* align-items: left; */
  /* margin-right: 10px;
  flex-direction: row;
  flex: 1; */
  /* text-align:justify; */
  /* padding-left: 0px; */
  /* left:80px; */
}
.dashboard .ipInCard .control{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.dashboard .ipInCard .btn{
  border-radius: 25px;
  width: 200px;
  color: white;
  font-weight: bold;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

